<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
    <title>Amon Us</title>
    <link rel="stylesheet" href="../Assets/BootStrap/css/bootstrap.css">
    <link rel="stylesheet" href="../Assets/Css/Index.css">
    <link rel="stylesheet" href="../Assets/Css/Responsive.css">
</head>
<body>
<header>
    <div class="d-flex justify-content-between align-items-center">
        <div class="position-relative ContainerLogo">
            <img src="../Assets/Img/Logo.svg" alt="Logo">
        </div>
        <div class="ContainerLinksHeader_1">
            <a href="#Airdrop">Airdrop</a>
            <a href="#Buy">Buy</a>
            <a href="#Invite">Invite</a>
            <a href="#AboutUs">About Us</a>
        </div>
        <div>
            <a href="#" class="BtnBase">
                Connect your Wallet
            </a>
        </div>
    </div>
    <div class="ContainerLinksHeader_2">
        <a href="#Airdrop">Airdrop</a>
        <a href="#Buy">Buy</a>
        <a href="#Invite">Invite</a>
        <a href="#AboutUs">About Us</a>
    </div>
</header>
<main>
    <div class="Container">
        <div class="mt-5 text-center">
            <div class="ContainerTitleAmont">
                <h1 class="TitleAmont">
                    Now get ready to play <span class="BgEffectDanger_1">AMON US</span> on Metavers
                </h1>
                <p class="DesTitleAmont">
                    create your character and get ready to heal or kill them
                </p>
                <img src="../Assets/Img/VectorArrowToDown.svg" alt="Arrow To Down">
            </div>
            <div class="mt-5">
                <a href="#" class="BtnBase BtnGetStart">
                    Get start
                </a>
                <img src="../Assets/Img/Design/VectorTitleAmon.png" alt="Vector Title Amon"
                     class="d-block mx-auto col-md-12 col-lg-12 col-xl-9 h-auto">
            </div>
            <div class="col-12 col-md-9 ContentTitleAmont mx-auto">
                <p>
                    We are proud to announce our first ICO with the aim of extending our crypto services and providing
                    opportunities to new investors.
                    When you own AMONG Tokens, you join a pool of supporters whose collective decision-making power is
                    absolute. AMONG owners will be the first ones who access items and polls at launch.
                </p>
            </div>
        </div>
        <div class="ContainerReadPorject text-center mx-auto">
            <div>
                <p>
                    <!-- Icon -->
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
                        <path d="M15.7162 16.4229H8.49622" stroke="#261A0F" stroke-width="1.5" stroke-linecap="round"
                              stroke-linejoin="round"/>
                        <path d="M15.7162 12.2364H8.49622" stroke="#261A0F" stroke-width="1.5" stroke-linecap="round"
                              stroke-linejoin="round"/>
                        <path d="M11.2513 8.05957H8.49634" stroke="#261A0F" stroke-width="1.5" stroke-linecap="round"
                              stroke-linejoin="round"/>
                        <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M15.9086 2.94928C15.9086 2.94928 8.23161 2.95328 8.21961 2.95328C5.45961 2.97028 3.75061 4.78628 3.75061 7.55628V16.7523C3.75061 19.5363 5.47261 21.3593 8.25661 21.3593C8.25661 21.3593 15.9326 21.3563 15.9456 21.3563C18.7056 21.3393 20.4156 19.5223 20.4156 16.7523V7.55628C20.4156 4.77228 18.6926 2.94928 15.9086 2.94928Z"
                              stroke="#261A0F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    read a project <span class="BgEffectDanger_2">whitepaper</span><br>
                    whitepaper is get ready on second roud airdrop
                </p>
            </div>
            <div>
                <img src="../Assets/Img/Design/VectorReadPorject.png" alt="Vector Read Project">
            </div>
        </div>
    </div>
    <div class="ContainerBuy col-12 mx-auto" id="Buy">
        <div class="text-left w-50">
            <!-- Icon -->
            <svg xmlns="http://www.w3.org/2000/svg" class="align-baseline" width="24" height="24" viewBox="0 0 24 24"
                 fill="none">
                <g id="Iconly/Light/Bag">
                    <g id="Bag">
                        <path id="Path_33955" fill-rule="evenodd" clip-rule="evenodd"
                              d="M16.5137 21.4999H8.16592C5.09955 21.4999 2.74715 20.3924 3.41534 15.9347L4.19338 9.89351C4.60528 7.66925 6.02404 6.81799 7.26889 6.81799H17.4474C18.7105 6.81799 20.0469 7.73332 20.5229 9.89351L21.3009 15.9347C21.8684 19.8889 19.5801 21.4999 16.5137 21.4999Z"
                              stroke="#261A0F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path id="Path_33956"
                              d="M16.651 6.59836C16.651 4.21229 14.7167 2.27799 12.3307 2.27799V2.27799C11.1817 2.27312 10.0781 2.72615 9.26388 3.53691C8.44969 4.34766 7.99199 5.44935 7.992 6.59836H7.992"
                              stroke="#261A0F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path id="Line_192" d="M15.2963 11.1018H15.2506" stroke="#261A0F" stroke-width="1.5"
                              stroke-linecap="round" stroke-linejoin="round"/>
                        <path id="Line_193" d="M9.46572 11.1018H9.41995" stroke="#261A0F" stroke-width="1.5"
                              stroke-linecap="round" stroke-linejoin="round"/>
                    </g>
                </g>
            </svg>
            <h1 class="BgEffectDanger_3 d-inline-block m-0">
                Buy now
            </h1>
            <br>
            <p>
                AMONG Tokens give you the power to influence decisions, unlock VIP items and access to create your owned
                NFTs, exclusive promotions, games, chat & a superfan recognition.
            </p>
        </div>
        <div class="w-50">
            <div class="ContainerInputBuy">
                <input type="number" value="0.1">
                <button href="#" class="BtnBase">Buy</button>
            </div>
            <p class="pl-5">0.1 BNB = 50000 AMONG</p>
        </div>
    </div>
    <div class="Container">
        <div class="ContainerAboutUs mx-auto" id="AboutUs">
            <img src="../Assets/Img/Design/VectorAboutUs.svg" alt="Vector About Us">
            <div>
                Click
                <a href="https://en.m.wikipedia.org/wiki/Among_Us" class="BtnBase">
                    Here
                    <!-- Icon -->
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M12 21.2498C17.108 21.2498 21.25 17.1088 21.25 11.9998C21.25 6.89176 17.108 2.74976 12 2.74976C6.892 2.74976 2.75 6.89176 2.75 11.9998C2.75 17.1088 6.892 21.2498 12 21.2498Z"
                              stroke="#261A0F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M10.5577 15.4709L14.0437 11.9999L10.5577 8.52895" stroke="#261A0F" stroke-width="1.5"
                              stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </a>
                if you want to know more about us
            </div>
        </div>
    </div>
    <div class="ContainerAirDrop mx-auto" id="Airdrop">
        <div>
            <div>
                <!-- Icon -->
                <svg xmlns="http://www.w3.org/2000/svg" class="align-baseline" width="24" height="24"
                     viewBox="0 0 24 24" fill="none">
                    <g id="Iconly/Light/Time Circle">
                        <g id="Time Circle">
                            <path id="Stroke 1" fill-rule="evenodd" clip-rule="evenodd"
                                  d="M21.2498 12.0005C21.2498 17.1095 17.1088 21.2505 11.9998 21.2505C6.89082 21.2505 2.74982 17.1095 2.74982 12.0005C2.74982 6.89149 6.89082 2.75049 11.9998 2.75049C17.1088 2.75049 21.2498 6.89149 21.2498 12.0005Z"
                                  stroke="#261A0F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path id="Stroke 3" d="M15.4314 14.9429L11.6614 12.6939V7.84692" stroke="#261A0F"
                                  stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </g>
                    </g>
                </svg>
                <h1 class="VectorBgDanger_4">Airdrop round 1/3</h1>
            </div>
            <p>
                We are dropping some tokens for those who get to know us earlier <br> than others. Get yours now!l
            </p>
            <div class="d-flex justify-content-around align-baseline align-items-center mt-4">
                <div TimerCounterDown ToDateTimer="2028-02-14"> <!-- Set Timer Counter Down  -->
                    <div class="ItemTimerAirDrop">
                        <span data-content="Day">0</span>
                        Days
                    </div>
                    <div class="ItemTimerAirDrop">
                        <span data-content="Hour">0</span>
                        Hours
                    </div>
                    <div class="ItemTimerAirDrop">
                        <span data-content="Minute">0</span>
                        Minutes
                    </div>
                    <div class="ItemTimerAirDrop">
                        <span data-content="Second">0</span>
                        Seconds
                    </div>
                </div>
                <p>Airdrop only availabe for</p>
            </div>
            <button href="#" class="BtnBase BtnAirDrop">Get airdrop</button>
        </div>
        <img src="../Assets/Img/Design/VectorAirDrop.png" alt="Vector Air Drop">
    </div>
    <div class="Container">
        <div class="ContainerInvite" id="Invite">
            <div>
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" class="align-baseline" width="20" height="20"
                         viewBox="0 0 20 20" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M7.87657 13.2063C4.03257 13.2063 0.749573 13.7873 0.749573 16.1153C0.749573 18.4433 4.01257 19.0453 7.87657 19.0453C11.7216 19.0453 15.0036 18.4633 15.0036 16.1363C15.0036 13.8093 11.7416 13.2063 7.87657 13.2063Z"
                              stroke="#261A0F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M7.8766 9.886C10.3996 9.886 12.4446 7.841 12.4446 5.318C12.4446 2.795 10.3996 0.75 7.8766 0.75C5.3546 0.75 3.3096 2.795 3.3096 5.318C3.3006 7.832 5.3306 9.877 7.8456 9.886H7.8766Z"
                              stroke="#261A0F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M17.2037 6.66919V10.6792" stroke="#261A0F" stroke-width="1.5" stroke-linecap="round"
                              stroke-linejoin="round"/>
                        <path d="M19.2495 8.67407H15.1595" stroke="#261A0F" stroke-width="1.5" stroke-linecap="round"
                              stroke-linejoin="round"/>
                    </svg>
                    <h1>
                        <span class="VectorBgDanger_5">iNVITE</span> your friends and get rewarded!
                    </h1>
                </div>
                <div>
                    <p class="w-50 my-3">
                        Help your friends get to know us and get reward. You will get 35% of BNB your friends spent, and
                        also, we reward you with 45% of the amount of AMONG your friends received
                    </p>
                </div>
                <div class="mt-4">
                    <button class="BtnBase BtnAddressBEP" id="AddressBSC">Address BEP20 (BSC)</button>
                    <button class="BtnBase BtnCopy" id="BtnCopy">
                        Copy
                        <!-- Icon -->
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <path d="M16 12.9V17.1C16 20.6 14.6 22 11.1 22H6.9C3.4 22 2 20.6 2 17.1V12.9C2 9.4 3.4 8 6.9 8H11.1C14.6 8 16 9.4 16 12.9Z"
                                  stroke="#261A0F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M22 6.9V11.1C22 14.6 20.6 16 17.1 16H16V12.9C16 9.4 14.6 8 11.1 8H8V6.9C8 3.4 9.4 2 12.9 2H17.1C20.6 2 22 3.4 22 6.9Z"
                                  stroke="#261A0F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </button>
                </div>
            </div>
            <img src="../Assets/Img/Design/VectorInvite.png" alt="Vector Invite">
        </div>
        <div class="ContainerBSC">
            <div>
                <!-- Icon -->
                <svg xmlns="http://www.w3.org/2000/svg" class="align-baseline" width="24" height="24"
                     viewBox="0 0 24 24" fill="none">
                    <path d="M7.24484 14.7815L10.238 10.8914L13.6522 13.5733L16.5812 9.79297" stroke="#261A0F"
                          stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <circle cx="19.9954" cy="4.20027" r="1.9222" stroke="#261A0F" stroke-width="1.5"
                            stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M14.9245 3.12012H7.65675C4.64531 3.12012 2.77803 5.25284 2.77803 8.26428V16.3467C2.77803 19.3581 4.60869 21.4817 7.65675 21.4817H16.2609C19.2723 21.4817 21.1396 19.3581 21.1396 16.3467V9.30776"
                          stroke="#261A0F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                <h1>
                    BSC <span class="VectorBgDanger_5">project</span> details
                </h1>
            </div>
            <div class="BscDetails">
                <div class="BscDetail">
                    <p>7.500.000.000</p>
                    <p>Burn (50%)</p>
                    <div class="PercentDetial">
                        <div style="width: 50%"></div>
                    </div>
                </div>
                <div class="BscDetail">
                    <p>1.500.000.000.000</p>
                    <p>Burn (10%)</p>
                    <div class="PercentDetial">
                        <div style="width: 10%"></div>
                    </div>
                </div>
                <div class="BscDetail">
                    <p>6.000.000.000.000</p>
                    <p>Liquidity (40%)</p>
                    <div class="PercentDetial">
                        <div style="width: 40%"></div>
                    </div>
                </div>
                <div class="BscDetail">
                    <p>15.000.000.000.000</p>
                    <p>Burn (100%)</p>
                    <div class="PercentDetial">
                        <div style="width: 100%"></div>
                    </div>
                </div>
            </div>
            <div class="mt-3">
                <a href="#" class="BtnBase">
                    Check us on BSC scan
                    <!-- Icon -->
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
                        <g id="Iconly/Curved/Arrow - Right">
                            <g id="Arrow - Right">
                                <path id="Stroke 1" d="M20.2501 11.7258L5.2501 11.7258" stroke="#261A0F"
                                      stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path id="Stroke 3"
                                      d="M14.1998 5.70124C14.1998 5.70124 20.2498 8.96224 20.2498 11.7242C20.2498 14.4882 14.1998 17.7502 14.1998 17.7502"
                                      stroke="#261A0F" stroke-width="1.5" stroke-linecap="round"
                                      stroke-linejoin="round"/>
                            </g>
                        </g>
                    </svg>
                </a>
            </div>
        </div>
        <div class="ContianerRoadMap">
            <div class="text-center">
                <!-- Icon -->
                <svg xmlns="http://www.w3.org/2000/svg" class="align-baseline" width="24" height="24"
                     viewBox="0 0 24 24" fill="none">
                    <g id="Iconly/Light/Discovery">
                        <g id="Discovery">
                            <path id="Path_33947" fill-rule="evenodd" clip-rule="evenodd"
                                  d="M8.27002 14.9519L9.8627 9.8627L14.9519 8.27002L13.3593 13.3593L8.27002 14.9519Z"
                                  stroke="#261A0F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <circle id="Ellipse_738" cx="11.611" cy="11.611" r="9.61098" stroke="#261A0F"
                                    stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </g>
                    </g>
                </svg>
                <h1 class="VectorBgDanger_7">
                    Road Map
                </h1>
                <div class="RoadMaps">
                    <div class="RoadMap RoadMap_Q1">
                        <div>
                            <div class="TypeRoadMap">
                                Q1
                            </div>
                            <div class="TitleRoadMap">
                                2022 | Airdrop & IDO
                            </div>
                            <div class="Description_RoadMap">
                                <p>
                                    5000+ Holders
                                </p>
                                <p>
                                    Launch NFT MarketPlace
                                </p>
                                <p>
                                    50% Burn Token
                                </p>
                                <p>
                                    Attract large investors
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="RoadMap RoadMap_Q2_Q3">
                        <div>
                            <div class="TypeRoadMap">
                                Q2-Q3
                            </div>
                            <div class="TitleRoadMap">
                                2022 | IDO & Listing
                            </div>
                            <div class="Description_RoadMap">
                                <p>
                                    50000+ Holders
                                </p>
                                <p>
                                    PancakeSwap List
                                </p>
                                <p>
                                    CoinMarketCap List
                                </p>
                                <p>
                                    Kucoin List
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="RoadMap RoadMap_Q4">
                        <div>
                            <div class="TypeRoadMap">
                                Q4
                            </div>
                            <div class="TitleRoadMap">
                                Launch The Project
                            </div>
                            <div class="Description_RoadMap">
                                <p>
                                    100000+ Holders
                                </p>
                                <p>
                                    Launch website of game
                                </p>
                                <p>
                                    Launch Metaverse game
                                </p>
                                <p>
                                    Binance List ..
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-around w-50 mx-auto">
                        <img src="../Assets/Img/Arrow_03.png" alt="">
                        <img src="../Assets/Img/Arrow_04.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="ContainerInvestor">
            <div>
                <!-- Icon -->
                <svg xmlns="http://www.w3.org/2000/svg" class="align-baseline" width="24" height="24"
                     viewBox="0 0 24 24" fill="none">
                    <g id="Iconly/Light/Shield Done">
                        <g id="Shield Done">
                            <path id="Stroke 1" fill-rule="evenodd" clip-rule="evenodd"
                                  d="M11.9845 21.606C11.9845 21.606 19.6565 19.283 19.6565 12.879C19.6565 6.474 19.9345 5.974 19.3195 5.358C18.7035 4.742 12.9905 2.75 11.9845 2.75C10.9785 2.75 5.2655 4.742 4.6505 5.358C4.0345 5.974 4.3125 6.474 4.3125 12.879C4.3125 19.283 11.9845 21.606 11.9845 21.606Z"
                                  stroke="#261A0F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path id="Stroke 3" d="M9.38589 11.8746L11.2779 13.7696L15.1759 9.86963" stroke="#261A0F"
                                  stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </g>
                    </g>
                </svg>
                <h1 class="VectorBgDanger_8">
                    Investor
                </h1>
            </div>
            <div class="mt-5">
                <img src="../Assets/Img/Brands/InnerSloth.png" alt="InnerSloth">
                <img src="../Assets/Img/Brands/Sony.png" alt="Sony">
                <img src="../Assets/Img/Brands/Microsoft.png" alt="Microsoft">
            </div>
        </div>
        <div class="ContainerPlayAmongUs">
            <div>
                <!-- Icon -->
                <svg xmlns="http://www.w3.org/2000/svg" class="align-baseline" width="24" height="24"
                     viewBox="0 0 24 24" fill="none">
                    <g id="Iconly/Light/Game">
                        <g id="Game">
                            <path id="Stroke 1" d="M8.84825 12.314V16.059" stroke="#261A0F" stroke-width="1.5"
                                  stroke-linecap="round" stroke-linejoin="round"/>
                            <path id="Stroke 2" d="M10.759 14.1868H6.9379" stroke="#261A0F" stroke-width="1.5"
                                  stroke-linecap="round" stroke-linejoin="round"/>
                            <path id="Stroke 3" d="M15.3661 12.428H15.2591" stroke="#261A0F" stroke-width="1.5"
                                  stroke-linecap="round" stroke-linejoin="round"/>
                            <path id="Stroke 4" d="M17.1796 16.0027H17.0726" stroke="#261A0F" stroke-width="1.5"
                                  stroke-linecap="round" stroke-linejoin="round"/>
                            <path id="Stroke 5"
                                  d="M8.07216 2C8.07216 2.74048 8.68464 3.34076 9.44018 3.34076H10.4967C11.6623 3.34492 12.6064 4.27026 12.6117 5.41266V6.08771"
                                  stroke="#261A0F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path id="Stroke 7" fill-rule="evenodd" clip-rule="evenodd"
                                  d="M16.4283 21.9628C13.4231 22.0136 10.473 22.0116 7.57275 21.9628C4.3535 21.9628 2 19.6665 2 16.5114V11.8619C2 8.70676 4.3535 6.41053 7.57275 6.41053C10.4889 6.36068 13.4411 6.36172 16.4283 6.41053C19.6476 6.41053 22 8.7078 22 11.8619V16.5114C22 19.6665 19.6476 21.9628 16.4283 21.9628Z"
                                  stroke="#261A0F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </g>
                    </g>
                </svg>
                <h1>
                    Now <span class="VectorBgDanger_9 d-inline-block">play</span> among us
                </h1>
                <div class="BtnsPlayGame">
                    <div>
                        <a href="https://play.google.com/store/apps/details?id=com.innersloth.spacemafia&hl=fa&gl=US"
                           class="BtnBase">
                            <!--Logo Brand -->
                            <img src="../Assets/Img/Brands/GooglePlay.png" alt="Google Play">
                            Google play
                        </a>
                        <a href="https://apps.apple.com/us/app/among-us/id1351168404" class="BtnBase">
                            <!--Logo Brand -->
                            <img src="../Assets/Img/Brands/AppleStor.png" alt="Apple Store">
                            Apple Store
                        </a>
                    </div>
                    <div>
                        <a href="https://store.steampowered.com/app/945360/Among_Us/" class="BtnBase">
                            <!--Logo Brand -->
                            <img src="../Assets/Img/Brands/Steam.png" alt="Steam">
                            Steam
                        </a>
                        <a href="https://www.playstation.com/en-us/games/among-us/" class="BtnBase">
                            <!--Logo Brand -->
                            <img src="../Assets/Img/Brands/Playstation.png" alt="Playstaion">
                            playstaion
                        </a>
                        <a href="https://www.xbox.com/en-IN/games/store/among-us/9ng07qjnk38j" class="BtnBase">
                            <!--Logo Brand -->
                            <img src="../Assets/Img/Brands/Xbox.png" alt="Xbox">
                            Xbox
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer>
    <div class="d-block d-md-flex justify-content-between align-items-center">
        <div>
            <!-- Icon -->
            <svg xmlns="http://www.w3.org/2000/svg" class="align-baseline" width="24" height="24" viewBox="0 0 24 24"
                 fill="none">
                <g id="Iconly/Light/Login">
                    <g id="Login">
                        <path id="Stroke 1" d="M15.8125 12.022H3.77148" stroke="#261A0F" stroke-width="1.5"
                              stroke-linecap="round" stroke-linejoin="round"/>
                        <path id="Stroke 3" d="M12.8848 9.10596L15.8128 12.022L12.8848 14.938" stroke="#261A0F"
                              stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path id="Stroke 4"
                              d="M8.50439 7.38897V6.45597C8.50439 4.42097 10.1534 2.77197 12.1894 2.77197H17.0734C19.1034 2.77197 20.7484 4.41697 20.7484 6.44697V17.587C20.7484 19.622 19.0984 21.272 17.0634 21.272H12.1784C10.1494 21.272 8.50439 19.626 8.50439 17.597V16.655"
                              stroke="#261A0F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </g>
                </g>
            </svg>
            <h1>
                <span class="VectorBgDanger_10">Join</span> to our community
            </h1>
        </div>
        <div class="BtnsSocialMedia">
            <a href="#" class="BtnBase">
                <img src="../Assets/Img/Brands/Discord.png" alt="Discord">
            </a>
            <a href="#" class="BtnBase">
                <img src="../Assets/Img/Brands/Telegram.png" alt="Telegram">
            </a>
            <a href="#" class="BtnBase">
                <img src="../Assets/Img/Brands/Twitter.png" alt="Twitter">
            </a>
            <a href="https://en.m.wikipedia.org/wiki/Among_Us" class="BtnBase">
                <img src="../Assets/Img/Brands/WikiPedia.png" alt="WikiPedia">
            </a>
        </div>
    </div>
    <div class="CopyRight">
        <p>with 💜 by <a href="http://fzlm.ir" style="color:#d34920;">Fazel Momeni</a></p>
    </div>
</footer>
<script src="../Assets/Js/Index.js"></script>
</body>
</html>
